# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/
wheels/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Databases
*.db
*.sqlite3

# Logs
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/